:root {
    --sw-yello: #FFE81F;
}

@font-face {
    font-family: 'Star Jedi';
    src: url('fonts/StarJedi.woff2') format('woff2'),
    url('fonts/StarJedi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-image: url('images/background_LQ.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family:  sans-serif;

}

h1 {
    margin: 0.5em;
}

.container {
    border-style: solid;
    border-color: grey;
    border-radius: 10pt;
    border-width: 3pt;
    background-color: rgba(128, 128, 128, 70%);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    max-width: 80%;
    min-width: 350px;
    width: fit-content;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    filter: brightness(90%);
}

.swColor {
    color: #FFE81F;
}

.swFont {
    font-family:  "Star Jedi", sans-serif;
}

.whiteColor {
    color: #FFF;
}

.MBFlex {
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.MBFlex > span {
    align-self: flex-start;
}

.starshipBtn {
    margin: 3px;
    align-self: flex-start;
    border-style : none;
    background: #0000;
    color: #FFF;
    font-size: large;
    font-family: sans-serif;
}

#starshipFlex {
    justify-content: space-around;
}

#BTM_Btn {
    writing-mode: vertical-rl;
    margin: auto;
    padding: 0.5em;
}

#starshipListContainer {
    display: inline-block;
    align-self: flex-start;
    margin: 0.5em;
    flex-grow: 1;
    flex-basis: fit-content;
}

#starshipList > li {
    color: lime;
    padding: 0.1em;
    margin: 0.2em;
}

#starshipBox {
    display: inline-block;
    align-self: flex-start;
    flex-grow: 1;
    flex-basis: fit-content;
    margin: 0.5em;
}

#prevBtn , #nextBtn {
    display: inline-block;
    color: white;
    padding: 0.5em;
}

#prevBtn {
    float: left;
    margin: 0.5em 0.5em 0.5em 2.5em;
}

#nextBtn {
    float: right;
    margin: 0.5em 2.5em 0.5em 0.5em;

}

#SBFlex {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.starshipInfo, .movieLink {
    border-radius: 0.5em;
    padding: 0.33em;
    margin: 0.2em;
    flex-basis: fit-content;
}

.starshipInfo {
    color: white;
    background-color: purple;
}

.movieLink {
    background-color: #eed816;
    font-family:  "Star Jedi", sans-serif;
    color: white;
}

@media screen and (max-width: 800px){
    .MBFlex {
        flex-direction: column;
    }
    #BTM_Btn {
        writing-mode: horizontal-tb;
    }
    #SBFlex {
        flex-direction: row;
    }
    @media screen and (max-height: 500px){
        .container {
            background-color: red;
        }
    }
}

@media screen and (max-height: 350px){
    .container {
        background-color: red;
    }
}

@media screen and (min-width: 1326px), screen and (min-height: 1080px){
    body {
        background-image: url('images/background_MQ.jpg');
    }
}

@media screen and (min-width: 2652px), screen and (min-height: 2160px){
    body {
        background-image: url('images/background_HQ.jpg');
    }
}